<application  xmlns:android="https://schemas.android.com/apk/res/android"
        android:name="com.example.app"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"/>
